
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/Debug/net5.0/OnlineAcademy.DataAccess.csprojAssemblyReference.cache
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/Debug/net5.0/OnlineAcademy.DataAccess.assets.cache
BackEnd/OnlineAcademy/Core/obj/Core.csproj.nuget.dgspec.json
BackEnd/OnlineAcademy/Core/obj/Core.csproj.nuget.g.props
BackEnd/OnlineAcademy/Core/obj/Debug/net5.0/Core.assets.cache
BackEnd/OnlineAcademy/Core/obj/Debug/net5.0/Core.csprojAssemblyReference.cache
BackEnd/OnlineAcademy/Core/obj/project.assets.json
BackEnd/OnlineAcademy/Core/obj/project.nuget.cache
BackEnd/OnlineAcademy/OnlineAcademy.API/obj/Debug/net5.0/OnlineAcademy.API.assets.cache
BackEnd/OnlineAcademy/OnlineAcademy.API/obj/Debug/net5.0/OnlineAcademy.API.csprojAssemblyReference.cache
BackEnd/OnlineAcademy/OnlineAcademy.API/obj/OnlineAcademy.API.csproj.nuget.dgspec.json
BackEnd/OnlineAcademy/OnlineAcademy.API/obj/OnlineAcademy.API.csproj.nuget.g.props
BackEnd/OnlineAcademy/OnlineAcademy.API/obj/project.assets.json
BackEnd/OnlineAcademy/OnlineAcademy.API/obj/project.nuget.cache
BackEnd/OnlineAcademy/OnlineAcademy.Business/obj/Debug/net5.0/OnlineAcademy.Business.assets.cache
BackEnd/OnlineAcademy/OnlineAcademy.Business/obj/Debug/net5.0/OnlineAcademy.Business.csprojAssemblyReference.cache
BackEnd/OnlineAcademy/OnlineAcademy.Business/obj/OnlineAcademy.Business.csproj.nuget.dgspec.json
BackEnd/OnlineAcademy/OnlineAcademy.Business/obj/OnlineAcademy.Business.csproj.nuget.g.props
BackEnd/OnlineAcademy/OnlineAcademy.Business/obj/project.assets.json
BackEnd/OnlineAcademy/OnlineAcademy.Business/obj/project.nuget.cache
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/Debug/net5.0/OnlineAcademy.DataAccess.assets.cache
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/Debug/net5.0/OnlineAcademy.DataAccess.csprojAssemblyReference.cache
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/OnlineAcademy.DataAccess.csproj.nuget.dgspec.json
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/OnlineAcademy.DataAccess.csproj.nuget.g.props
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/project.assets.json
BackEnd/OnlineAcademy/OnlineAcademy.DataAccess/obj/project.nuget.cache
BackEnd/OnlineAcademy/OnlineAcademy.Entities/obj/Debug/net5.0/OnlineAcademy.Entities.assets.cache
BackEnd/OnlineAcademy/OnlineAcademy.Entities/obj/Debug/net5.0/OnlineAcademy.Entities.csprojAssemblyReference.cache
BackEnd/OnlineAcademy/OnlineAcademy.Entities/obj/OnlineAcademy.Entities.csproj.nuget.dgspec.json
BackEnd/OnlineAcademy/OnlineAcademy.Entities/obj/OnlineAcademy.Entities.csproj.nuget.g.props
BackEnd/OnlineAcademy/OnlineAcademy.Entities/obj/project.assets.json
BackEnd/OnlineAcademy/OnlineAcademy.Entities/obj/project.nuget.cache
BackEnd/OnlineAcademy/Core/obj/Core.csproj.nuget.dgspec.json
BackEnd/OnlineAcademy/Core/obj/Core.csproj.nuget.g.props
